version: '3.8'

services:
  backend:
    build: .  
    ports:
      - "8000:8000" 
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    extra_hosts:
      - "host.docker.internal:host-gateway" 


  frontend:
    build: ./frontend 
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend